        .container {
            width: 1000px;
            margin: 0 auto;
        }
        
        body {
            background: #f1f5f8;
        }
        
        .header {
            background: url(../images/background-img.png);
            background-repeat: no-repeat;
            background: cover;
            width: 100%;
        }
        
        .header::after {
            content: " ";
            clear: both;
            display: block;
            visibility: none;
        }
        
        .header-top {
            padding-top: 24px;
        }
        
        .logo {
            float: left;
        }
        
        .logo:hover {
            background: pink;
        }
        
        .menu-list {
            float: right;
        }
        
        .menu-list ul li {
            display: inline-block;
            list-style-type: none;
            color: white;
        }
        
        .menu-list ul li a {
            padding: 10px 20px;
            text-decoration: solid;
            color: white;
            line-height: 60px;
            /* border-radius: 25px; */
        }
        
        .menu-list ul li a:hover {
            background-color: grey;
            /* border: -1px transparent; */
        }
        
        .menu-list ul li .button {
            /* border-inline-color: blue; */
            background: #2f8be6;
            border: none;
            border-radius: 5px;
        }
        
        .most-selective {
            color: white;
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
        }
        
        .most-selective h2 {
            font-size: 50px;
            padding-bottom: 20px;
        }
        
        .most-selective p {
            font-size: 14px;
            padding-bottom: 20px;
        }
        
        .most-selective a {
            display: inline-block;
            color: white;
            text-decoration: none;
            background: grey;
            padding: 20px;
            border-radius: 5px;
        }
        
        .most-selective a:hover {
            background: #2f8be6;
        }
        
        .search-box {
            position: absolute;
            top: 55%;
            left: 25%;
            transform: transition(-15%, -15%);
            /* display: none; */
        }
        
        .search-text {
            height: 80px;
            width: 500px;
        }
        
        .search-btn {
            display: inline-block;
            color: white;
            text-decoration: none;
            background: blue;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            border-radius: 5px;
            border: none;
        }
        
        .filter-by ul li {
            display: inline-block;
            /* color: pink; */
        }
        
        .filter-by ul li {
            color: #a2adb8;
        }
        
        .filter-by ul li a {
            color: black;
            padding: 10px 20px;
            /* border: 1px solid grey; */
            text-decoration: none;
            background-color: #dae1e7;
            border-radius: 5px;
        }
        
        .filter-by ul li a:hover {
            background-color: #2f8be6;
            border: 1px transparent;
        }
        
        .section {
            padding-top: 70px;
        }
        
        .product-detail {
            margin-top: 40px;
            height: 430px;
            /* width: 370px; */
            width: 330px;
            position: relative;
            z-index: 1;
        }
        
        .hov-img {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
        }
        
        .hov-img a {
            float: left;
            position: absolute;
            z-index: 2;
            top: 121px;
            left: 191px;
        }
        
        .info {
            padding: 30px 20px 20px 20px;
        }
        
        .image-info {
            padding-bottom: 10px;
        }
        
        .image-info h2 {
            padding-bottom: 2px;
            font-size: 18px;
        }
        
        .image-info a {
            /* background: blue; */
            text-decoration: none;
            color: #3c92e8;
        }
        
        .image-info a h2 {
            border-bottom: 1px dotted #3c92e8;
        }
        
        .image-info p {
            padding-top: 15px;
            padding-bottom: 25px;
            font-size: 16px;
            border-bottom: 1px dotted #86919d;
        }
        
        .author {
            padding-top: 5px;
        }
        
        .author .author-img {
            float: left;
            padding-right: 10px;
        }
        
        .author p {
            float: left;
            color: #a1aab4;
        }
        
        .author a {
            float: right;
            padding-right: 5px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            background: #f1f5f8;
            padding: 3px 5px;
            color: #a1aab4;
        }
        
        .product-detail {
            float: left;
            /* padding-right: 5px; */
        }
        
        .org-img {
            width: 300px;
        }
        
        figure {
            margin-top: 50px;
            padding-bottom: 50px;
        }
        
        figure a {
            padding-left: 470px;
        }
        
        .pricing-plan {
            text-align: center;
        }
        
        .pricing-plan h2 {
            font-size: 30px;
        }
        
        .pricing-plan p {
            color: #a1aab4;
        }
        
        .purchase-group {
            margin-top: 20px;
        }
        
        .single {
            height: 500px;
            width: 280px;
            border: 1px solid #dae1e7;
            border-bottom: 4px solid #dae1e7;
            font-family: Arial, Helvetica, sans-serif;
            float: left;
            padding-right: 10px;
            border-spacing: 20px;
            margin-left: 20px;
            background: white;
        }
        
        .single h3 {
            text-align: center;
            font-size: 30px;
            /* display: none; */
        }
        
        .single span {
            text-align: center;
            font-family: fantasy;
            font-size: 70px;
            font-weight: lighter;
            float: left;
            padding-left: 80px;
            padding-bottom: 70px;
            /* padding-bottom: 80px; */
            color: #2f8be6;
            display: none;
        }
        
        .single p {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: #86919d;
            font-size: 15px;
            padding: 20px;
            /* display: none; */
        }
        
        .single h2 {
            font-size: 40px;
            text-align: center;
            font-family: sans-serif;
            color: #2f8be6;
            /* display: none; */
        }
        
        .single h2 strong {
            font-size: 40px;
            padding-bottom: 10px;
            /* display: none; */
        }
        
        .single-list {
            padding-top: 35px;
        }
        
        .single ul li {
            background: url(../images/arrow.png);
            background-repeat: no-repeat;
            font-size: 20px;
            /* margin-top: 30px; */
            list-style-type: none;
            padding-left: 30px;
            padding-bottom: 2px;
            border-bottom: 1px dotted grey;
            margin: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .single ul li a {
            /* padding-top: 20px; */
            /* display: none; */
            margin-top: 40px;
            border-bottom: 1px;
            padding-left: 30px;
        }
        
        .single span {
            margin-left: 10px;
            display: inline-block;
            color: white;
            text-decoration: none;
            background: blue;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            /* padding-left: 80px;
            padding-right: 80px; */
            padding: 20px 100px 20px 95px;
            border-radius: 5px;
        }
        
        .join-us {
            margin-top: 560px;
            width: 100%;
            height: 400px;
            background: url(../images/join-border.png);
            position: relative;
        }
        
        .join-us h2 {
            padding-top: 50px;
            font-size: 30px;
            text-align: center;
            /* float: left; */
            /* float: left; */
        }
        
        .join-us p {
            padding-top: 16px;
            text-align: center;
            color: grey;
        }
        
        footer {
            background: black;
            color: white;
        }
        
        .digital {
            width: 250px;
            padding: 20px;
        }
        
        .digital h2 {
            font-size: 20px;
        }
        
        .digital p {
            font-size: 16px;
        }