.app {
    height: 400px;
    width: 400px;
    background: url(../images/bg.jpg);
    position: relative;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 50px;
}

.box {
    /* background: black; */
}

h1 {
    text-align: center;
    color: rgb(153, 45, 60)
}